.weekDay {
    min-height: 300px;
    min-width: 120px;
    background: rgba(255, 255, 255, 0.041);
    text-align: center;
    border-radius: 10px;
    margin: .5%;
}

h2 {
    margin: 5%;
}

.today {
    min-width: 250px;
    background: rgba(228, 197, 60, 0.418); 
   

    overflow: hidden;
    transition: 0.4s ease-in-out;
}

.veryToday {
    border: 3px dotted rgba(207, 179, 56, 0.788);
}

.note {
    max-width: 100%;
    word-wrap: break-word;
    border-radius: 6px;
    border: 0.5px solid rgba(207, 179, 56, 0.788);
    background: rgba(12, 12, 12, 0.541);
    margin-bottom: 5px;
    padding-bottom: 3.5px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.767);
}

.btn {
    margin: 2px;
}

.del {
    border: 0.5px solid rgba(207, 179, 56, 0.788);
    background: rgba(207, 179, 56, 0.788);
}

#what {
    box-shadow: none;
}

#when {
    box-shadow: none;
}

#minus-shd {
    box-shadow: none;
}